* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
position: sticky;
top: 0;
}
    
li {
float: left;
}
    
li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
    
li a:hover:not(.active) {
background-color: #111;
}

.active {
background-color: #9e9e9e;
}

header {
    position: sticky;
    top: 0;
}

body {
    background-image: url('bg2.jpg');background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
}

form {
    display: flex;
    flex-direction: column;
}

.lock {
    font-size: 30px;
}

.lock > i {
    padding-left: 50px;
}

.lock > h2 {
    font-size: 30px;
}

.lock > p {
    font-size: 16px;
}

.env {
    font-size: 40px;
    display: flex;
}

.i-class {
    position: relative;
    padding-top: 5px;
    padding-right: 10px;
}

.env > input {
    
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    color: #313131;
    background-color: white;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
  }

.button1 {
    background-color: rgb(1, 128, 212); 
    color: black; 
    border: 2px solid #e7bb84;
}
  
.button1:hover {
    background-color: rgb(62, 153, 228);
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #f8f9fa;
    padding-bottom: 2rem;
    padding-top: 2rem;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.text-muted {
    color: #6c757d;
}
.text-center {
    text-align: center;
}
.small {
    font-size: 90%;
    font-weight: 400;
}